
<div class="grid">
  <div class="grid-item">
      <a href="https://i.pinimg.com/564x/22/82/39/228239fcc80cb9b98f61450f90412342.jpg">
          <img src="https://i.pinimg.com/564x/22/82/39/228239fcc80cb9b98f61450f90412342.jpg" alt="Image 1">
      </a>
      <p1>Fair skin</p1>
      <p>Home Remedies</p>
  </div>
  <div class="grid-item">
      <a href="https://i.pinimg.com/originals/a7/c3/7f/a7c37f07c447349c14ed23e333cafa7b.jpg">
          <img src="https://i.pinimg.com/originals/a7/c3/7f/a7c37f07c447349c14ed23e333cafa7b.jpg" alt="Image 1">
      </a>
      <p1>fur mamas</p1>
      <p>Celebrating all dog & cat moms</p>
  </div>
  <div class="grid-item">
      <a href="https://i.pinimg.com/564x/25/3f/46/253f468e0eab9f17a7204a7f41e6c465.jpg">
          <img src="https://i.pinimg.com/564x/25/3f/46/253f468e0eab9f17a7204a7f41e6c465.jpg" alt="Image 1">
      </a>
      <p1>Spotted by Pinterest</p1>
      <p>Mom quotes that are so true</p>
  </div>
  <div class="grid-item">
      <a href="https://i.pinimg.com/736x/cf/7b/37/cf7b37bb375dd01e9547a8338303ab1e.jpg">
          <img src="https://i.pinimg.com/736x/cf/7b/37/cf7b37bb375dd01e9547a8338303ab1e.jpg" alt="Image 1">
      </a>
      <p1>Instant pick-me-up</p1>
      <p>Feel good outfits for when you</p>
  </div>
  <div class="grid-item">
      <a href="https://i.pinimg.com/564x/5f/20/75/5f207569f3a832079a487137b409d303.jpg">
          <img src="https://i.pinimg.com/564x/5f/20/75/5f207569f3a832079a487137b409d303.jpg" alt="Image 1">
      </a>
      <p1>Feelin' good</p1>
      <p>Positive affirmations wallpapers</p>
  </div>
  <div class="grid-item">
      <a href="https://i.pinimg.com/564x/80/63/dc/8063dcfcfc7fa18f2f7d1b4450f2e185.jpg">
          <img src="https://i.pinimg.com/564x/80/63/dc/8063dcfcfc7fa18f2f7d1b4450f2e185.jpg" alt="Image 1">
      </a>
      <p1>Spotted by Pinterest</p1>
      <p>Easy travel looks to put together</p>
  </div>
  
</div>



